<div class="breadcrumbs">

    <div class="col-sm-12">
        <div class="language-select" id="language-select">
            <a href="logout">
                <i class="fa fa-power-off"></i>
            </a>
        </div>
        <div class="language-select dropdown" id="language-select">
            <a class="dropdown-toggle" href="#" data-toggle="dropdown" id="language"
                aria-haspopup="true" aria-expanded="true">
                Lang
            </a>
            <div class="dropdown-menu" aria-labelledby="language">
                <ul id='langs'>
                    <li data-val='en-EN'>English</li>
                    <li data-val='tr-TR'>Türkçe</li>
                </ul>
            </div>
            
        </div>
        <div class="userClass">
            <%= name %>
        </div>
    </div>
      
</div>
