<!-- Left Panel -->
<aside id="left-panel" class="left-panel">
    <nav class="navbar navbar-expand-sm navbar-default">
        <div class="navbar-header">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-menu"
                aria-controls="main-menu" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fa fa-bars"></i>
            </button>

            <a class="navbar-brand" href="./">CAFENU
                <svg style="fill: #fff; width: 32px;" viewBox="0 0 24 24"
                    aria-label="X" role="img"
                    class="r-4qtqp9 r-yyyyoo r-dnmrzs r-bnwqim r-1plcrui r-lrvibr r-1nao33i r-16y2uox r-lwhw9o">
                    <g>
                        <path
                            d="M18.244 2.25h3.308l-7.227 8.26 8.502 11.24H16.17l-5.214-6.817L4.99 21.75H1.68l7.73-8.835L1.254 2.25H8.08l4.713 6.231zm-1.161 17.52h1.833L7.084 4.126H5.117z">
                        </path>
                    </g>
                </svg>
            </a>
            <a class="navbar-brand hidden" href="./">
                <svg style="fill: #fff; width: 32px;" viewBox="0 0 24 24"
                    aria-label="X" role="img"
                    class="r-4qtqp9 r-yyyyoo r-dnmrzs r-bnwqim r-1plcrui r-lrvibr r-1nao33i r-16y2uox r-lwhw9o">
                    <g>
                        <path
                            d="M18.244 2.25h3.308l-7.227 8.26 8.502 11.24H16.17l-5.214-6.817L4.99 21.75H1.68l7.73-8.835L1.254 2.25H8.08l4.713 6.231zm-1.161 17.52h1.833L7.084 4.126H5.117z">
                        </path>
                    </g>
                </svg>
            </a>
        </div>
        
        <div id="main-menu" class="main-menu collapse navbar-collapse show-icon">
            <ul class="nav navbar-nav">
                <li>
                    <a href="../"> <i class="menu-icon fa fa-dashboard"></i>{{title.dashboard}} </a>
                </li>
                <li>
                    <a href="../tables"> <i class="menu-icon fa fa-th-large"></i>{{title.Tables}} </a>
                </li>
                <li>
                    <a href="../kitchen"> <i class="menu-icon fa fa-bell-o"></i>{{title.Kitchen}} </a>
                </li>
                <h3 class="menu-title">Administration</h3><!-- /.menu-title -->
                <li><a href="/Categories"><i class="menu-icon fa fa-list"></i>{{title.Categories}}</a></li>
                <li><a href="/Products"><i class="menu-icon fa fa-coffee"></i>{{title.Products}}</a></li>
                <li><a href="/TableInfo"><i class="menu-icon fa fa-th-large"></i>{{title.TableInfo}}</a></li>
                <li><a href="/Orders"><i class="menu-icon fa  fa-shopping-cart"></i>{{title.Orders}}</a></li>
                <li><a href="/Reservations"><i class="menu-icon fa fa-calendar"></i>{{title.Reservations}}</a></li>
                <!--
                <li><a href="/Suppliers"><i class="menu-icon fa fa-truck"></i>{{title.Suppliers}}</a></li>
                <li><a href="/Financial"><i class="menu-icon fa fa-bar-chart-o"></i>{{title.Financial}}</a></li>
                <li><a href="/Payment"><i class="menu-icon fa fa-money"></i>{{title.Payment}}</a></li>
                <li><a href="/Channels"><i class="menu-icon fa fa-map-marker"></i>{{title.Channels}}</a></li>
                -->
                <li><a href="/users"><i class="menu-icon fa fa-user"></i>{{title.Users}}</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </nav>
</aside><!-- /#left-panel -->