USE [master]
GO
/****** Object:  Database [Cafe]    Script Date: 2/13/2025 1:00:06 PM ******/
CREATE DATABASE [Cafe]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Cafe', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Cafe.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Cafe_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Cafe_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Cafe].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Cafe]
GO
/****** Object:  UserDefinedFunction [dbo].[getIdentityOrPKColumn]    Script Date: 2/13/2025 1:00:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[getIdentityOrPKColumn]
(
    @table NVARCHAR(255)
) RETURNS NVARCHAR(255)
AS
BEGIN
    IF @table = NULL OR TRIM(@table) = '' BEGIN
        RETURN NULL;
    END

    -- This is not needed (at all, we know the table name like), but not assigning this makes the SQL complain about 
    -- "non-informative select not assigning it's variables"
    DECLARE @_tableName NVARCHAR(255)
    DECLARE @idColumnName NVARCHAR(255)
    DECLARE @pKeyColumnName NVARCHAR(255)

    (SELECT @_tableName = (O.name), @idColumnName = (C.name), @pKeyColumnName = (K.COLUMN_NAME)
        FROM SYS.OBJECTS O
            INNER JOIN SYS.COLUMNS C ON O.object_id = C.object_id
            INNER JOIN INFORMATION_SCHEMA.KEY_COLUMN_USAGE K ON O.name = K.TABLE_NAME
            INNER JOIN INFORMATION_SCHEMA.TABLE_CONSTRAINTS TK ON O.name = TK.TABLE_NAME AND K.CONSTRAINT_NAME = TK.CONSTRAINT_NAME
        WHERE O.name = @table AND C.is_identity = 1 AND TK.CONSTRAINT_TYPE = 'PRIMARY KEY');
    IF @idColumnName IS NOT NULL BEGIN
        RETURN @idColumnName
    END
    ELSE IF @pKeyColumnName IS NOT NULL BEGIN
        RETURN @pKeyColumnName
    END
    
    RETURN NULL
END
GO
/****** Object:  UserDefinedFunction [dbo].[idToTableName]    Script Date: 2/13/2025 1:00:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Description : Get the table name for this GUID.
-- Returns     : NVarChar(255) OR @tableId if doesn't exist.
-- =============================================
CREATE FUNCTION [dbo].[idToTableName]
(
	@tableId NVARCHAR(255)
)
RETURNS NVARCHAR(255)
AS
BEGIN
	IF @tableId = NULL OR TRIM(@tableId) = '' BEGIN
        RETURN NULL
    END
    
	DECLARE @resultTableName NVARCHAR(255)
    SELECT @resultTableName = tblIndexName FROM tblIndex WHERE tblIndexKey = @tableId

    -- Return the table id if the selection fails (no result)
    IF @resultTableName IS NULL BEGIN
        RETURN @tableId
    END

	-- Return the result of the function
	RETURN @resultTableName
END
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 2/13/2025 1:00:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[OrderID] [int] IDENTITY(1,1) NOT NULL,
	[OrderDate] [datetime] NOT NULL,
	[OrderTableSessionID] [int] NOT NULL,
	[OrderStatusID] [int] NOT NULL,
	[OrderProductID] [int] NOT NULL,
	[OrderTableID] [int] NULL,
	[OrderOnline] [bit] NULL,
	[OrderUsersID] [nvarchar](25) NULL,
	[Room] [nvarchar](25) NULL
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_PendingOrdersCount]    Script Date: 2/13/2025 1:00:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Bekleyen Siparişler


CREATE VIEW [dbo].[vw_PendingOrdersCount] AS
SELECT 
    COUNT(OrderStatusID) AS 'PendingOrdersCount'
FROM 
    Orders
WHERE 
    (OrderStatusID = 1 OR OrderStatusID = 2)
AND
    CONVERT(DATE, OrderDate) = CONVERT(DATE, GETDATE());

GO
/****** Object:  View [dbo].[vw_CompletedOrdersCount]    Script Date: 2/13/2025 1:00:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Tamamlanan Siparişler


CREATE VIEW [dbo].[vw_CompletedOrdersCount] AS
SELECT 
    COUNT(OrderStatusID) AS 'CompletedOrdersCount'
FROM 
    Orders
WHERE 
    OrderStatusID = 3 AND
    CONVERT(DATE, OrderDate) = CONVERT(DATE, GETDATE());

GO
/****** Object:  View [dbo].[vw_OnlineOrdersCount]    Script Date: 2/13/2025 1:00:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Online Siparişler

CREATE VIEW [dbo].[vw_OnlineOrdersCount] AS
SELECT COUNT(DATEPART(WEEKDAY, OrderDate)) as [Counter], DATENAME(WEEKDAY, OrderDate) as [Day] FROM [Orders]

  WHERE OrderOnline = 1 AND OrderDate BETWEEN GETDATE()-7 and GETDATE()
  GROUP by DATENAME(WEEKDAY,OrderDate)
GO
/****** Object:  Table [dbo].[UsersPermissions]    Script Date: 2/13/2025 1:00:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UsersPermissions](
	[UsersPermissionsID] [int] IDENTITY(1,1) NOT NULL,
	[UsersPermissionsUserID] [int] NOT NULL,
	[UsersPermissionsType] [int] NOT NULL,
	[UsersPermissionsDescription] [nvarchar](200) NOT NULL,
	[UsersPermissionsCreateDate] [date] NOT NULL,
	[UsersPermissionsFrom] [date] NOT NULL,
	[UsersPermissionsTo] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UsersPermissionsID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_DayOffCount]    Script Date: 2/13/2025 1:00:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_DayOffCount] AS
SELECT COUNT(UsersPermissionsID) AS DayOffCount
  FROM [Cafe].[dbo].[UsersPermissions]

  WHERE  UsersPermissionsFrom < GETDATE() AND GETDATE() < UsersPermissionsTo 
GO
/****** Object:  Table [dbo].[Reservations]    Script Date: 2/13/2025 1:00:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reservations](
	[ReservationId] [int] IDENTITY(1,1) NOT NULL,
	[ReservationDate] [date] NOT NULL,
	[ReservationTable] [int] NOT NULL,
	[ReservationCreateDate] [date] NOT NULL,
	[Room] [nvarchar](25) NULL,
	[ReservationName] [nvarchar](25) NOT NULL,
	[ReservationPhone] [nvarchar](25) NOT NULL,
	[ReservationUser] [nvarchar](25) NULL,
PRIMARY KEY CLUSTERED 
(
	[ReservationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_ReservationRate]    Script Date: 2/13/2025 1:00:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE VIEW [dbo].[vw_ReservationRate] AS
  
SELECT COUNT(ReservationId) AS 'Count', CONVERT(nvarchar,ReservationDate) AS 'Date' from Reservations 
WHERE ReservationDate BETWEEN GETDATE() AND GETDATE()+7
GROUP BY ReservationDate
GO
/****** Object:  View [dbo].[vw_WeeklyOccupancyRate]    Script Date: 2/13/2025 1:00:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Create the stored procedure in the specified schema
CREATE VIEW [dbo].[vw_WeeklyOccupancyRate]  AS 

SELECT COUNT(DATEPART(WEEKDAY, OrderDate)) as [Counter], DATENAME(WEEKDAY, OrderDate) as [Day] FROM [Orders]

  where OrderDate BETWEEN GETDATE()-7 and GETDATE()
  GROUP by DATENAME(WEEKDAY,OrderDate)
GO
/****** Object:  Table [dbo].[Users]    Script Date: 2/13/2025 1:00:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UsersID] [int] IDENTITY(1,1) NOT NULL,
	[UsersName] [nvarchar](100) NOT NULL,
	[UsersSurname] [nvarchar](100) NOT NULL,
	[UsersPassword] [nvarchar](256) NOT NULL,
	[UsersStartDate] [date] NOT NULL,
	[UsersEndDate] [date] NOT NULL,
	[UsersPhone] [nvarchar](15) NOT NULL,
	[UsersAddress] [nvarchar](255) NOT NULL,
	[UsersImage] [nvarchar](255) NULL,
	[UsersGeneralStatusID] [int] NOT NULL,
	[UsersChannelsID] [int] NOT NULL,
	[UsersPositionID] [int] NOT NULL,
	[Room] [nvarchar](25) NULL,
PRIMARY KEY CLUSTERED 
(
	[UsersID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_TopOrderTakingPersonnel]    Script Date: 2/13/2025 1:00:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_TopOrderTakingPersonnel] AS
SELECT top(5)
    U.UsersName + ' ' + U.UsersSurname AS PersonnelName,
    COUNT(O.OrderID) AS TotalOrders
FROM 
    Orders O
JOIN 
    Users U ON O.OrderUsersID = U.UsersID

WHERE 
    OrderDate BETWEEN GETDATE()-7 and GETDATE()

GROUP BY 
    U.UsersName,
    U.UsersSurname
ORDER BY 
    TotalOrders DESC;

GO
/****** Object:  Table [dbo].[Products]    Script Date: 2/13/2025 1:00:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[ProductID] [int] IDENTITY(1,1) NOT NULL,
	[ProductName] [nvarchar](100) NOT NULL,
	[ProductImage] [nvarchar](256) NULL,
	[ProductPrice] [decimal](10, 2) NOT NULL,
	[ProductStockQuantity] [int] NOT NULL,
	[ProductCategoryID] [int] NOT NULL,
	[ProductCreatedDate] [datetime] NOT NULL,
	[ProductCreatedBy] [int] NOT NULL,
	[ProductIsActive] [bit] NOT NULL,
	[ProductDesc] [nvarchar](100) NULL,
	[ProductCost] [decimal](10, 2) NULL,
	[Room] [nvarchar](25) NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_LeastSellingProducts]    Script Date: 2/13/2025 1:00:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_LeastSellingProducts] AS
SELECT top(5)
    P.ProductName,
    COUNT(O.OrderProductID) AS Selling
FROM 
    Orders O
JOIN 
    Products P ON O.OrderProductID = P.ProductID

WHERE 
    OrderDate BETWEEN GETDATE()-7 and GETDATE()

GROUP BY 
    P.ProductName
ORDER BY 
    Selling ASC

GO
/****** Object:  View [dbo].[vw_TopSellingProducts]    Script Date: 2/13/2025 1:00:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_TopSellingProducts] AS
SELECT top(5)
    P.ProductName,
    COUNT(O.OrderProductID) AS Selling
FROM 
    Orders O
JOIN 
    Products P ON O.OrderProductID = P.ProductID
    
WHERE 
    OrderDate BETWEEN GETDATE()-7 and GETDATE()

GROUP BY 
    P.ProductName
ORDER BY 
    Selling DESC;


GO
/****** Object:  View [dbo].[vw_DailyRevenue]    Script Date: 2/13/2025 1:00:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Günlük Ciro

CREATE VIEW [dbo].[vw_DailyRevenue] AS
SELECT 
    CASE when SUM(Products.ProductPrice) is null then '0' else SUM(Products.ProductPrice) end AS DailyRevenue
FROM 
    Orders
    INNER JOIN Products
    ON
    Orders.OrderProductID = Products.ProductID
WHERE 
    CONVERT(DATE, OrderDate) = CONVERT(DATE, GETDATE());
GO
/****** Object:  Table [dbo].[TableInfo]    Script Date: 2/13/2025 1:00:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TableInfo](
	[TableInfoID] [int] IDENTITY(1,1) NOT NULL,
	[TableInfoName] [nvarchar](50) NOT NULL,
	[TableInfoCapacity] [int] NOT NULL,
	[TableInfoStatusID] [int] NOT NULL,
	[TableSession] [int] NULL,
	[Room] [nvarchar](25) NULL,
	[IsActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[TableInfoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_TableStatusSummary]    Script Date: 2/13/2025 1:00:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_TableStatusSummary] AS
SELECT 
    'Açık' AS label,
    (SELECT COUNT(*) FROM TableInfo WHERE TableInfo.TableInfoStatusID= 1) as [data],
    '#20a8d8' AS color
UNION
SELECT 
    'Kapalı' AS Status,
    (SELECT COUNT(*) FROM TableInfo WHERE TableInfo.TableInfoStatusID= 2),
    '#f86c6b' AS color
UNION
SELECT 
    'Rezerve' AS Status,
    (SELECT COUNT(*) FROM TableInfo WHERE TableInfo.TableInfoStatusID= 3),
    '#ffc107' AS color


GO
/****** Object:  View [dbo].[vw_BusiestHours]    Script Date: 2/13/2025 1:00:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_BusiestHours] AS
SELECT 
    CONVERT(varchar,(DATEPART(hour , OrderDate))) + ':00' AS 'Time',
    COUNT(*) AS OrderCount
FROM 
    Orders
WHERE 
    OrderDate BETWEEN DATEADD(DAY, -7, GETDATE()) AND GETDATE()
GROUP BY 
    DATEPART(HOUR, OrderDate)
--ORDER BY 
--    (DATEPART(hour , OrderDate)) ASC;

GO
/****** Object:  View [dbo].[vw_WeeklyRevenueProfit]    Script Date: 2/13/2025 1:00:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_WeeklyRevenueProfit] AS
SELECT 

    DATENAME(dw, O.OrderDate) AS DayOfWeek,
    SUM(P.ProductPrice) AS TotalRevenue,
    CASE when SUM(P.ProductPrice - P.ProductCost) is null then '0' else SUM(P.ProductPrice - P.ProductCost) end AS TotalProfit
FROM 
    Orders O
JOIN 
    Products P ON O.OrderProductID = P.ProductID

WHERE 
    OrderDate BETWEEN GETDATE()-7 and GETDATE()

GROUP BY 
    DATENAME(dw, O.OrderDate)
GO
/****** Object:  UserDefinedFunction [dbo].[getForeignKeyReferences]    Script Date: 2/13/2025 1:00:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[getForeignKeyReferences]
(	
	@table nvarchar(255)
)
RETURNS TABLE 
AS
RETURN 
(
	SELECT obj.name AS [fkName],
        tab1.name AS [fromTable],
        col1.name AS [column],
        tab2.name AS [referencedTable],
        col2.name AS [referencedColumn]
            FROM sys.foreign_key_columns fkc
                INNER JOIN sys.objects obj
                    ON obj.object_id = fkc.constraint_object_id
                INNER JOIN sys.tables tab1
                    ON tab1.object_id = fkc.parent_object_id
                INNER JOIN sys.columns col1
                    ON col1.column_id = parent_column_id AND col1.object_id = tab1.object_id
                INNER JOIN sys.tables tab2
                    ON tab2.object_id = fkc.referenced_object_id
                INNER JOIN sys.columns col2
                    ON col2.column_id = referenced_column_id AND col2.object_id = tab2.object_id
            WHERE tab1.name = @table
)

GO
/****** Object:  Table [dbo].[Assignment]    Script Date: 2/13/2025 1:00:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Assignment](
	[AssignmentID] [int] IDENTITY(1,1) NOT NULL,
	[UsersID] [int] NOT NULL,
	[AssignmentName] [nvarchar](50) NOT NULL,
	[AssignmentDescription] [nvarchar](250) NULL,
	[AssignmentDate] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[AssignmentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 2/13/2025 1:00:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[CategoryID] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [nvarchar](100) NOT NULL,
	[CategoryColor] [nvarchar](22) NULL,
	[CategoryIcon] [nvarchar](max) NULL,
	[Room] [nvarchar](25) NULL,
	[IsActive] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Channels]    Script Date: 2/13/2025 1:00:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Channels](
	[ChannelsID] [int] IDENTITY(1,1) NOT NULL,
	[ChannelName] [nvarchar](50) NOT NULL,
	[ChannelNumber] [int] NOT NULL,
	[ChannelCompanyID] [int] NOT NULL,
	[Room] [nvarchar](25) NULL,
PRIMARY KEY CLUSTERED 
(
	[ChannelsID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Companies]    Script Date: 2/13/2025 1:00:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Companies](
	[CompanyID] [int] IDENTITY(1,1) NOT NULL,
	[CompanyGeneralStatusID] [int] NOT NULL,
	[CompanyName] [nvarchar](100) NOT NULL,
	[CompanyTaxNo] [nvarchar](15) NOT NULL,
	[CompanyVD] [nvarchar](50) NULL,
	[CompanyAddress] [nvarchar](150) NOT NULL,
	[CompanyPhone] [nvarchar](15) NOT NULL,
	[CompanyCity] [nvarchar](15) NOT NULL,
	[CompanyCountry] [nvarchar](15) NOT NULL,
	[CompanyRegion] [nvarchar](15) NOT NULL,
	[CompanyType] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CompanyID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FinancialTransactions]    Script Date: 2/13/2025 1:00:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FinancialTransactions](
	[TransactionID] [int] IDENTITY(1,1) NOT NULL,
	[FinancialTransactionDescription] [nvarchar](255) NOT NULL,
	[FinancialTransactionType] [nvarchar](50) NOT NULL,
	[FinancialTransactionAmount] [decimal](10, 2) NOT NULL,
	[Room] [nvarchar](25) NULL,
PRIMARY KEY CLUSTERED 
(
	[TransactionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GeneralStatus]    Script Date: 2/13/2025 1:00:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GeneralStatus](
	[GeneralStatusID] [int] IDENTITY(1,1) NOT NULL,
	[GeneralStatusName] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[GeneralStatusID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Messages]    Script Date: 2/13/2025 1:00:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Messages](
	[MessagesID] [int] IDENTITY(1,1) NOT NULL,
	[MessagesSubject] [nvarchar](50) NOT NULL,
	[MessagesDate] [date] NOT NULL,
	[MessagesDescription] [nvarchar](150) NOT NULL,
	[MessagesFrom] [int] NOT NULL,
	[MessagesTo] [int] NOT NULL,
	[MessageStatus] [int] NOT NULL,
	[Room] [nvarchar](25) NULL,
PRIMARY KEY CLUSTERED 
(
	[MessagesID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MessageStatus]    Script Date: 2/13/2025 1:00:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MessageStatus](
	[MessageStatusID] [int] IDENTITY(1,1) NOT NULL,
	[MessageStatusName] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MessageStatusID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notifications]    Script Date: 2/13/2025 1:00:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notifications](
	[NotificationID] [int] IDENTITY(1,1) NOT NULL,
	[NotificationSubject] [nvarchar](50) NOT NULL,
	[NotificationDate] [date] NOT NULL,
	[NotificationDescription] [nvarchar](150) NOT NULL,
	[NotificationFrom] [int] NOT NULL,
	[NotificationTo] [int] NOT NULL,
	[NotificationStatus] [int] NULL,
	[Room] [nvarchar](25) NULL,
PRIMARY KEY CLUSTERED 
(
	[NotificationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderStatus]    Script Date: 2/13/2025 1:00:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderStatus](
	[OrderStatusID] [int] IDENTITY(1,1) NOT NULL,
	[OrderStatusName] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderStatusID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payment]    Script Date: 2/13/2025 1:00:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payment](
	[PaymentID] [int] IDENTITY(1,1) NOT NULL,
	[PaymentDate] [date] NOT NULL,
	[PaymentPeriod] [date] NOT NULL,
	[PaymentAmount] [float] NOT NULL,
	[PaymentChannelsID] [int] NOT NULL,
	[Room] [nvarchar](25) NULL,
PRIMARY KEY CLUSTERED 
(
	[PaymentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PermissionsType]    Script Date: 2/13/2025 1:00:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PermissionsType](
	[PermissionsTypeID] [int] IDENTITY(1,1) NOT NULL,
	[PermissionsTypeName] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PermissionsTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Positions]    Script Date: 2/13/2025 1:00:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Positions](
	[PositionID] [int] IDENTITY(1,1) NOT NULL,
	[PositionsTitle] [nvarchar](100) NOT NULL,
	[PositionsAuthorityLevel] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PositionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QuantityType]    Script Date: 2/13/2025 1:00:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuantityType](
	[QuantityTypeID] [int] IDENTITY(1,1) NOT NULL,
	[QuantityTypeName] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[QuantityTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StockMovements]    Script Date: 2/13/2025 1:00:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StockMovements](
	[StockMovementID] [int] IDENTITY(1,1) NOT NULL,
	[StockMovementProductID] [int] NOT NULL,
	[StockMovementDate] [datetime] NOT NULL,
	[StockQuantity] [int] NOT NULL,
	[StockQuantityTypeId] [int] NOT NULL,
	[StockMovementType] [nvarchar](50) NOT NULL,
	[StockMovementSuppliersID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[StockMovementID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Suppliers]    Script Date: 2/13/2025 1:00:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Suppliers](
	[SuppliersID] [int] IDENTITY(1,1) NOT NULL,
	[SuppliersName] [nvarchar](100) NOT NULL,
	[SuppliersPhone] [nvarchar](15) NULL,
	[SuppliersAddress] [nvarchar](255) NULL,
	[SuppliersIBAN] [nvarchar](250) NOT NULL,
	[SuppliersTax] [nvarchar](15) NULL,
	[SuppliersVDI] [nvarchar](50) NULL,
	[SuppliersAlertLimit] [int] NOT NULL,
	[SuppliersCreatedDate] [date] NOT NULL,
	[SuppliersOrderStatusID] [int] NOT NULL,
	[Room] [nvarchar](25) NULL,
PRIMARY KEY CLUSTERED 
(
	[SuppliersID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TableSession]    Script Date: 2/13/2025 1:00:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TableSession](
	[TableSessionId] [int] IDENTITY(1,1) NOT NULL,
	[TableSession] [nvarchar](36) NOT NULL,
	[TableSessionDate] [date] NOT NULL,
	[TableSessionPrice] [decimal](10, 2) NULL,
	[TableSessionPaymentType] [bit] NULL,
	[TableSessionTableInfoId] [int] NOT NULL,
	[TableRoom] [nvarchar](50) NULL,
	[TableSessionUser] [nvarchar](25) NULL,
PRIMARY KEY CLUSTERED 
(
	[TableSessionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TableStatus]    Script Date: 2/13/2025 1:00:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TableStatus](
	[TableStatusID] [int] IDENTITY(1,1) NOT NULL,
	[TableStatusName] [nvarchar](15) NOT NULL,
	[TableStatusColor] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[TableStatusID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TblIndex]    Script Date: 2/13/2025 1:00:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblIndex](
	[TblIndexId] [int] IDENTITY(1,1) NOT NULL,
	[TblIndexName] [nvarchar](50) NOT NULL,
	[TblIndexKey] [nvarchar](36) NOT NULL,
	[tblIndexTxt] [nvarchar](50) NULL,
	[tblIndexEdit] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[TblIndexId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserLevel]    Script Date: 2/13/2025 1:00:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserLevel](
	[UserLevelID] [int] IDENTITY(1,1) NOT NULL,
	[UserLevelDescription] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserLevelID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Assignment] ON 

INSERT [dbo].[Assignment] ([AssignmentID], [UsersID], [AssignmentName], [AssignmentDescription], [AssignmentDate]) VALUES (1, 1, N'Task 1', N'Complete by end of week', CAST(N'2024-03-22' AS Date))
INSERT [dbo].[Assignment] ([AssignmentID], [UsersID], [AssignmentName], [AssignmentDescription], [AssignmentDate]) VALUES (2, 2, N'Task 2', N'Submit report by Friday', CAST(N'2024-03-21' AS Date))
SET IDENTITY_INSERT [dbo].[Assignment] OFF
GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

SET IDENTITY_INSERT [dbo].[Categories] OFF
GO
SET IDENTITY_INSERT [dbo].[Channels] ON 

INSERT [dbo].[Channels] ([ChannelsID], [ChannelName], [ChannelNumber], [ChannelCompanyID], [Room]) VALUES (1, N'Channel 1', 101, 1, N'9999')
INSERT [dbo].[Channels] ([ChannelsID], [ChannelName], [ChannelNumber], [ChannelCompanyID], [Room]) VALUES (2, N'Channel 2', 102, 1, N'9999')
INSERT [dbo].[Channels] ([ChannelsID], [ChannelName], [ChannelNumber], [ChannelCompanyID], [Room]) VALUES (3, N'Channel 3', 103, 2, N'9999')
SET IDENTITY_INSERT [dbo].[Channels] OFF
GO
SET IDENTITY_INSERT [dbo].[Companies] ON 

INSERT [dbo].[Companies] ([CompanyID], [CompanyGeneralStatusID], [CompanyName], [CompanyTaxNo], [CompanyVD], [CompanyAddress], [CompanyPhone], [CompanyCity], [CompanyCountry], [CompanyRegion], [CompanyType]) VALUES (1, 1, N'ABC Company', N'1234567890', NULL, N'123 Main St', N'123-456-7890', N'New York', N'USA', N'North', N'Retail')
INSERT [dbo].[Companies] ([CompanyID], [CompanyGeneralStatusID], [CompanyName], [CompanyTaxNo], [CompanyVD], [CompanyAddress], [CompanyPhone], [CompanyCity], [CompanyCountry], [CompanyRegion], [CompanyType]) VALUES (2, 1, N'XYZ Inc.', N'0987654321', NULL, N'456 Elm St', N'987-654-3210', N'Los Angeles', N'USA', N'West', N'Wholesale')
SET IDENTITY_INSERT [dbo].[Companies] OFF
GO
SET IDENTITY_INSERT [dbo].[FinancialTransactions] ON 

INSERT [dbo].[FinancialTransactions] ([TransactionID], [FinancialTransactionDescription], [FinancialTransactionType], [FinancialTransactionAmount], [Room]) VALUES (1, N'Payment received', N'Income', CAST(1000.00 AS Decimal(10, 2)), N'9999')
INSERT [dbo].[FinancialTransactions] ([TransactionID], [FinancialTransactionDescription], [FinancialTransactionType], [FinancialTransactionAmount], [Room]) VALUES (2, N'Purchase made', N'Expense', CAST(5001.00 AS Decimal(10, 2)), N'9999')
SET IDENTITY_INSERT [dbo].[FinancialTransactions] OFF
GO
SET IDENTITY_INSERT [dbo].[GeneralStatus] ON 

INSERT [dbo].[GeneralStatus] ([GeneralStatusID], [GeneralStatusName]) VALUES (1, N'Active')
INSERT [dbo].[GeneralStatus] ([GeneralStatusID], [GeneralStatusName]) VALUES (2, N'Passive')
INSERT [dbo].[GeneralStatus] ([GeneralStatusID], [GeneralStatusName]) VALUES (3, N'Idle')
SET IDENTITY_INSERT [dbo].[GeneralStatus] OFF
GO
SET IDENTITY_INSERT [dbo].[Messages] ON 

INSERT [dbo].[Messages] ([MessagesID], [MessagesSubject], [MessagesDate], [MessagesDescription], [MessagesFrom], [MessagesTo], [MessageStatus], [Room]) VALUES (1, N'Message 1', CAST(N'2024-03-22' AS Date), N'Hello, how are you?', 1, 2, 1, N'0000')
INSERT [dbo].[Messages] ([MessagesID], [MessagesSubject], [MessagesDate], [MessagesDescription], [MessagesFrom], [MessagesTo], [MessageStatus], [Room]) VALUES (2, N'Message 2', CAST(N'2024-03-21' AS Date), N'Meeting tomorrow at 10AM.', 2, 1, 2, N'0000')
SET IDENTITY_INSERT [dbo].[Messages] OFF
GO
SET IDENTITY_INSERT [dbo].[MessageStatus] ON 

INSERT [dbo].[MessageStatus] ([MessageStatusID], [MessageStatusName]) VALUES (1, N'Unread')
INSERT [dbo].[MessageStatus] ([MessageStatusID], [MessageStatusName]) VALUES (2, N'Read')
SET IDENTITY_INSERT [dbo].[MessageStatus] OFF
GO
SET IDENTITY_INSERT [dbo].[Notifications] ON 

INSERT [dbo].[Notifications] ([NotificationID], [NotificationSubject], [NotificationDate], [NotificationDescription], [NotificationFrom], [NotificationTo], [NotificationStatus], [Room]) VALUES (1009, N'Order', CAST(N'2025-02-02' AS Date), N'4184 - Table 1 - Croissant', 1, 1, 1, N'9999')
INSERT [dbo].[Notifications] ([NotificationID], [NotificationSubject], [NotificationDate], [NotificationDescription], [NotificationFrom], [NotificationTo], [NotificationStatus], [Room]) VALUES (1010, N'Order', CAST(N'2025-02-02' AS Date), N'4185 - Table 1 - Croissant', 1, 1, 1, N'9999')
INSERT [dbo].[Notifications] ([NotificationID], [NotificationSubject], [NotificationDate], [NotificationDescription], [NotificationFrom], [NotificationTo], [NotificationStatus], [Room]) VALUES (1011, N'Order', CAST(N'2025-02-02' AS Date), N'4186 - Table 1 - Croissant', 1, 1, NULL, N'9999')
SET IDENTITY_INSERT [dbo].[Notifications] OFF
GO
SET IDENTITY_INSERT [dbo].[Orders] ON 

INSERT [dbo].[Orders] ([OrderID], [OrderDate], [OrderTableSessionID], [OrderStatusID], [OrderProductID], [OrderTableID], [OrderOnline], [OrderUsersID], [Room]) VALUES (4192, CAST(N'2025-02-12T13:05:26.960' AS DateTime), 3114, 1, 2, 2021, NULL, N'6696a5aeb81c29669338d6e5', N'9999')
SET IDENTITY_INSERT [dbo].[Orders] OFF
GO
SET IDENTITY_INSERT [dbo].[OrderStatus] ON 

INSERT [dbo].[OrderStatus] ([OrderStatusID], [OrderStatusName]) VALUES (1, N'Pending')
INSERT [dbo].[OrderStatus] ([OrderStatusID], [OrderStatusName]) VALUES (2, N'Processing')
INSERT [dbo].[OrderStatus] ([OrderStatusID], [OrderStatusName]) VALUES (3, N'Completed')
SET IDENTITY_INSERT [dbo].[OrderStatus] OFF
GO
SET IDENTITY_INSERT [dbo].[PermissionsType] ON 

INSERT [dbo].[PermissionsType] ([PermissionsTypeID], [PermissionsTypeName]) VALUES (1, N'Annual')
INSERT [dbo].[PermissionsType] ([PermissionsTypeID], [PermissionsTypeName]) VALUES (2, N'Pregnancy')
INSERT [dbo].[PermissionsType] ([PermissionsTypeID], [PermissionsTypeName]) VALUES (3, N'Report')
SET IDENTITY_INSERT [dbo].[PermissionsType] OFF
GO
SET IDENTITY_INSERT [dbo].[Positions] ON 

INSERT [dbo].[Positions] ([PositionID], [PositionsTitle], [PositionsAuthorityLevel]) VALUES (1, N'Manager', 3)
INSERT [dbo].[Positions] ([PositionID], [PositionsTitle], [PositionsAuthorityLevel]) VALUES (2, N'Supervisor', 2)
INSERT [dbo].[Positions] ([PositionID], [PositionsTitle], [PositionsAuthorityLevel]) VALUES (3, N'Employee', 1)
SET IDENTITY_INSERT [dbo].[Positions] OFF
GO
SET IDENTITY_INSERT [dbo].[Products] ON 

INSERT [dbo].[Products] ([ProductID], [ProductName], [ProductImage], [ProductPrice], [ProductStockQuantity], [ProductCategoryID], [ProductCreatedDate], [ProductCreatedBy], [ProductIsActive], [ProductDesc], [ProductCost], [Room]) VALUES (1, N'Latte', NULL, CAST(5.99 AS Decimal(10, 2)), 50, 1, CAST(N'2024-03-22T11:49:52.360' AS DateTime), 1, 1, NULL, CAST(1.00 AS Decimal(10, 2)), N'9999')
INSERT [dbo].[Products] ([ProductID], [ProductName], [ProductImage], [ProductPrice], [ProductStockQuantity], [ProductCategoryID], [ProductCreatedDate], [ProductCreatedBy], [ProductIsActive], [ProductDesc], [ProductCost], [Room]) VALUES (2, N'Croissant', NULL, CAST(2.99 AS Decimal(10, 2)), 100, 2, CAST(N'2024-03-22T11:49:52.360' AS DateTime), 1, 1, NULL, NULL, N'9999')
INSERT [dbo].[Products] ([ProductID], [ProductName], [ProductImage], [ProductPrice], [ProductStockQuantity], [ProductCategoryID], [ProductCreatedDate], [ProductCreatedBy], [ProductIsActive], [ProductDesc], [ProductCost], [Room]) VALUES (3, N'Brownie', NULL, CAST(3.49 AS Decimal(10, 2)), 200, 3, CAST(N'2024-03-22T11:49:52.360' AS DateTime), 1, 1, NULL, NULL, N'9999')
SET IDENTITY_INSERT [dbo].[Products] OFF
GO
SET IDENTITY_INSERT [dbo].[QuantityType] ON 

INSERT [dbo].[QuantityType] ([QuantityTypeID], [QuantityTypeName]) VALUES (1, N'piece')
INSERT [dbo].[QuantityType] ([QuantityTypeID], [QuantityTypeName]) VALUES (2, N'kilogram')
INSERT [dbo].[QuantityType] ([QuantityTypeID], [QuantityTypeName]) VALUES (3, N'liter')
SET IDENTITY_INSERT [dbo].[QuantityType] OFF
GO
SET IDENTITY_INSERT [dbo].[Reservations] ON 

INSERT [dbo].[Reservations] ([ReservationId], [ReservationDate], [ReservationTable], [ReservationCreateDate], [Room], [ReservationName], [ReservationPhone], [ReservationUser]) VALUES (16, CAST(N'2025-02-02' AS Date), 2022, CAST(N'2025-02-12' AS Date), N'9999', N'onur', N'+90 (333) 333-33-33', N'6696a5aeb81c29669338d6e5')
SET IDENTITY_INSERT [dbo].[Reservations] OFF
GO
SET IDENTITY_INSERT [dbo].[StockMovements] ON 

INSERT [dbo].[StockMovements] ([StockMovementID], [StockMovementProductID], [StockMovementDate], [StockQuantity], [StockQuantityTypeId], [StockMovementType], [StockMovementSuppliersID]) VALUES (1, 1, CAST(N'2024-03-22T00:00:00.000' AS DateTime), 10, 1, N'Incoming', 1)
INSERT [dbo].[StockMovements] ([StockMovementID], [StockMovementProductID], [StockMovementDate], [StockQuantity], [StockQuantityTypeId], [StockMovementType], [StockMovementSuppliersID]) VALUES (2, 2, CAST(N'2024-03-21T00:00:00.000' AS DateTime), 20, 1, N'Incoming', 2)
INSERT [dbo].[StockMovements] ([StockMovementID], [StockMovementProductID], [StockMovementDate], [StockQuantity], [StockQuantityTypeId], [StockMovementType], [StockMovementSuppliersID]) VALUES (3, 3, CAST(N'2024-03-20T00:00:00.000' AS DateTime), 30, 1, N'Incoming', 1)
SET IDENTITY_INSERT [dbo].[StockMovements] OFF
GO
SET IDENTITY_INSERT [dbo].[Suppliers] ON 

INSERT [dbo].[Suppliers] ([SuppliersID], [SuppliersName], [SuppliersPhone], [SuppliersAddress], [SuppliersIBAN], [SuppliersTax], [SuppliersVDI], [SuppliersAlertLimit], [SuppliersCreatedDate], [SuppliersOrderStatusID], [Room]) VALUES (1, N'Supplier 11', N'555-123-4567', N'789 Oak St', N'IBAN1234', N'12345678', N'VDI123', 100, CAST(N'2023-01-01' AS Date), 1, N'9999')
INSERT [dbo].[Suppliers] ([SuppliersID], [SuppliersName], [SuppliersPhone], [SuppliersAddress], [SuppliersIBAN], [SuppliersTax], [SuppliersVDI], [SuppliersAlertLimit], [SuppliersCreatedDate], [SuppliersOrderStatusID], [Room]) VALUES (2, N'Supplier 2', N'555-987-6543', N'321 Maple St', N'IBAN456', N'0987654321', N'VDI456', 200, CAST(N'2023-02-01' AS Date), 2, N'9999')
INSERT [dbo].[Suppliers] ([SuppliersID], [SuppliersName], [SuppliersPhone], [SuppliersAddress], [SuppliersIBAN], [SuppliersTax], [SuppliersVDI], [SuppliersAlertLimit], [SuppliersCreatedDate], [SuppliersOrderStatusID], [Room]) VALUES (1002, N'Supplier3', N'555-987-6543', N'321 Maple St', N'IBAN456', N'0987654321', N'VDI456', 200, CAST(N'2023-02-01' AS Date), 2, N'9999')
SET IDENTITY_INSERT [dbo].[Suppliers] OFF
GO
SET IDENTITY_INSERT [dbo].[TableInfo] ON 

INSERT [dbo].[TableInfo] ([TableInfoID], [TableInfoName], [TableInfoCapacity], [TableInfoStatusID], [TableSession], [Room], [IsActive]) VALUES (2021, N'Masa 1', 4, 1, 3114, N'9999', 1)
INSERT [dbo].[TableInfo] ([TableInfoID], [TableInfoName], [TableInfoCapacity], [TableInfoStatusID], [TableSession], [Room], [IsActive]) VALUES (2022, N'Masa 2', 4, 2, NULL, N'9999', 1)
INSERT [dbo].[TableInfo] ([TableInfoID], [TableInfoName], [TableInfoCapacity], [TableInfoStatusID], [TableSession], [Room], [IsActive]) VALUES (2023, N'Masa 3', 4, 2, NULL, N'9999', 1)
SET IDENTITY_INSERT [dbo].[TableInfo] OFF
GO
SET IDENTITY_INSERT [dbo].[TableSession] ON 

INSERT [dbo].[TableSession] ([TableSessionId], [TableSession], [TableSessionDate], [TableSessionPrice], [TableSessionPaymentType], [TableSessionTableInfoId], [TableRoom], [TableSessionUser]) VALUES (3113, N'753CE7CB-D9D3-4C88-A65A-2F55013060EE', CAST(N'2025-02-06' AS Date), CAST(3.49 AS Decimal(10, 2)), 1, 1, NULL, N'6696a5aeb81c29669338d6e5')
INSERT [dbo].[TableSession] ([TableSessionId], [TableSession], [TableSessionDate], [TableSessionPrice], [TableSessionPaymentType], [TableSessionTableInfoId], [TableRoom], [TableSessionUser]) VALUES (3114, N'CD77926C-ED55-4D92-8324-217A23285F45', CAST(N'2025-02-09' AS Date), CAST(2.99 AS Decimal(10, 2)), NULL, 2021, NULL, N'6696a5aeb81c29669338d6e5')
SET IDENTITY_INSERT [dbo].[TableSession] OFF
GO
SET IDENTITY_INSERT [dbo].[TableStatus] ON 

INSERT [dbo].[TableStatus] ([TableStatusID], [TableStatusName], [TableStatusColor]) VALUES (1, N'Açik', N'blue')
INSERT [dbo].[TableStatus] ([TableStatusID], [TableStatusName], [TableStatusColor]) VALUES (2, N'Kapali', N'red')
INSERT [dbo].[TableStatus] ([TableStatusID], [TableStatusName], [TableStatusColor]) VALUES (3, N'Rezerve', N'yellow')
SET IDENTITY_INSERT [dbo].[TableStatus] OFF
GO
SET IDENTITY_INSERT [dbo].[TblIndex] ON 

INSERT [dbo].[TblIndex] ([TblIndexId], [TblIndexName], [TblIndexKey], [tblIndexTxt], [tblIndexEdit]) VALUES (1, N'Suppliers', N'35EDE0A5-8F99-4AC8-8C6E-2DFCB869B5CF', N'Suppliers', 1)
INSERT [dbo].[TblIndex] ([TblIndexId], [TblIndexName], [TblIndexKey], [tblIndexTxt], [tblIndexEdit]) VALUES (2, N'Users', N'F68F5964-8B01-47AB-99B8-B760792E1114', N'Users', 1)
INSERT [dbo].[TblIndex] ([TblIndexId], [TblIndexName], [TblIndexKey], [tblIndexTxt], [tblIndexEdit]) VALUES (3, N'Categories', N'6B68C84E-38E2-4D72-905B-E27423170646', N'Categories', 1)
SET IDENTITY_INSERT [dbo].[TblIndex] OFF
GO
SET IDENTITY_INSERT [dbo].[UserLevel] ON 

INSERT [dbo].[UserLevel] ([UserLevelID], [UserLevelDescription]) VALUES (1, N'Admin')
INSERT [dbo].[UserLevel] ([UserLevelID], [UserLevelDescription]) VALUES (2, N'Regular')
SET IDENTITY_INSERT [dbo].[UserLevel] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UsersID], [UsersName], [UsersSurname], [UsersPassword], [UsersStartDate], [UsersEndDate], [UsersPhone], [UsersAddress], [UsersImage], [UsersGeneralStatusID], [UsersChannelsID], [UsersPositionID], [Room]) VALUES (1, N'John', N'Doe', N'password1', CAST(N'2023-01-01' AS Date), CAST(N'2024-01-01' AS Date), N'555-111-2222', N'123 Pine St', NULL, 1, 1, 1, N'9999')
INSERT [dbo].[Users] ([UsersID], [UsersName], [UsersSurname], [UsersPassword], [UsersStartDate], [UsersEndDate], [UsersPhone], [UsersAddress], [UsersImage], [UsersGeneralStatusID], [UsersChannelsID], [UsersPositionID], [Room]) VALUES (2, N'Jane', N'Smith', N'password2', CAST(N'2023-02-01' AS Date), CAST(N'2024-02-01' AS Date), N'555-333-4444', N'456 Cedar St', NULL, 1, 2, 2, N'9999')
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET IDENTITY_INSERT [dbo].[UsersPermissions] ON 

INSERT [dbo].[UsersPermissions] ([UsersPermissionsID], [UsersPermissionsUserID], [UsersPermissionsType], [UsersPermissionsDescription], [UsersPermissionsCreateDate], [UsersPermissionsFrom], [UsersPermissionsTo]) VALUES (1, 1, 2, N'Full access granted', CAST(N'2024-03-22' AS Date), CAST(N'2024-03-22' AS Date), CAST(N'2024-03-22' AS Date))
INSERT [dbo].[UsersPermissions] ([UsersPermissionsID], [UsersPermissionsUserID], [UsersPermissionsType], [UsersPermissionsDescription], [UsersPermissionsCreateDate], [UsersPermissionsFrom], [UsersPermissionsTo]) VALUES (2, 2, 1, N'Read-only access granted', CAST(N'2024-03-21' AS Date), CAST(N'2024-03-21' AS Date), CAST(N'2024-03-21' AS Date))
INSERT [dbo].[UsersPermissions] ([UsersPermissionsID], [UsersPermissionsUserID], [UsersPermissionsType], [UsersPermissionsDescription], [UsersPermissionsCreateDate], [UsersPermissionsFrom], [UsersPermissionsTo]) VALUES (3, 2, 2, N'Holiday', CAST(N'2024-05-12' AS Date), CAST(N'2024-05-13' AS Date), CAST(N'2024-05-16' AS Date))
SET IDENTITY_INSERT [dbo].[UsersPermissions] OFF
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT (getdate()) FOR [ProductCreatedDate]
GO
ALTER TABLE [dbo].[Assignment]  WITH CHECK ADD FOREIGN KEY([UsersID])
REFERENCES [dbo].[Users] ([UsersID])
GO
ALTER TABLE [dbo].[Channels]  WITH CHECK ADD FOREIGN KEY([ChannelCompanyID])
REFERENCES [dbo].[Companies] ([CompanyID])
GO
ALTER TABLE [dbo].[Companies]  WITH CHECK ADD FOREIGN KEY([CompanyGeneralStatusID])
REFERENCES [dbo].[GeneralStatus] ([GeneralStatusID])
GO
ALTER TABLE [dbo].[Messages]  WITH CHECK ADD FOREIGN KEY([MessagesFrom])
REFERENCES [dbo].[Users] ([UsersID])
GO
ALTER TABLE [dbo].[Messages]  WITH CHECK ADD FOREIGN KEY([MessagesTo])
REFERENCES [dbo].[Users] ([UsersID])
GO
ALTER TABLE [dbo].[Messages]  WITH CHECK ADD FOREIGN KEY([MessageStatus])
REFERENCES [dbo].[MessageStatus] ([MessageStatusID])
GO
ALTER TABLE [dbo].[Notifications]  WITH CHECK ADD FOREIGN KEY([NotificationFrom])
REFERENCES [dbo].[Users] ([UsersID])
GO
ALTER TABLE [dbo].[Notifications]  WITH CHECK ADD FOREIGN KEY([NotificationTo])
REFERENCES [dbo].[Users] ([UsersID])
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_OrderStatus] FOREIGN KEY([OrderStatusID])
REFERENCES [dbo].[OrderStatus] ([OrderStatusID])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_OrderStatus]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Products] FOREIGN KEY([OrderProductID])
REFERENCES [dbo].[Products] ([ProductID])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Products]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_TableInfo] FOREIGN KEY([OrderTableID])
REFERENCES [dbo].[TableInfo] ([TableInfoID])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_TableInfo]
GO
ALTER TABLE [dbo].[Payment]  WITH CHECK ADD FOREIGN KEY([PaymentChannelsID])
REFERENCES [dbo].[Channels] ([ChannelsID])
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD FOREIGN KEY([ProductCategoryID])
REFERENCES [dbo].[Categories] ([CategoryID])
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD FOREIGN KEY([ProductCreatedBy])
REFERENCES [dbo].[Users] ([UsersID])
GO
ALTER TABLE [dbo].[Reservations]  WITH CHECK ADD FOREIGN KEY([ReservationTable])
REFERENCES [dbo].[TableInfo] ([TableInfoID])
GO
ALTER TABLE [dbo].[StockMovements]  WITH CHECK ADD FOREIGN KEY([StockMovementSuppliersID])
REFERENCES [dbo].[Suppliers] ([SuppliersID])
GO
ALTER TABLE [dbo].[StockMovements]  WITH CHECK ADD FOREIGN KEY([StockMovementProductID])
REFERENCES [dbo].[Products] ([ProductID])
GO
ALTER TABLE [dbo].[StockMovements]  WITH CHECK ADD FOREIGN KEY([StockQuantityTypeId])
REFERENCES [dbo].[QuantityType] ([QuantityTypeID])
GO
ALTER TABLE [dbo].[Suppliers]  WITH CHECK ADD FOREIGN KEY([SuppliersOrderStatusID])
REFERENCES [dbo].[OrderStatus] ([OrderStatusID])
GO
ALTER TABLE [dbo].[TableInfo]  WITH CHECK ADD FOREIGN KEY([TableInfoStatusID])
REFERENCES [dbo].[TableStatus] ([TableStatusID])
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD FOREIGN KEY([UsersChannelsID])
REFERENCES [dbo].[Channels] ([ChannelsID])
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD FOREIGN KEY([UsersGeneralStatusID])
REFERENCES [dbo].[GeneralStatus] ([GeneralStatusID])
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD FOREIGN KEY([UsersPositionID])
REFERENCES [dbo].[Positions] ([PositionID])
GO
ALTER TABLE [dbo].[UsersPermissions]  WITH CHECK ADD FOREIGN KEY([UsersPermissionsUserID])
REFERENCES [dbo].[Users] ([UsersID])
GO
ALTER TABLE [dbo].[UsersPermissions]  WITH CHECK ADD FOREIGN KEY([UsersPermissionsType])
REFERENCES [dbo].[PermissionsType] ([PermissionsTypeID])
GO
/****** Object:  StoredProcedure [dbo].[getTable]    Script Date: 2/13/2025 1:00:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Yeni Sürüm : @op='insert' için birden çok WHERE clause eklenebilir
-- ---
-- @summary    : Does a table operation
-- @param key  : The key for the table.
-- @param json : The JSON value for the operations. Contains the keys for the table and the values corresponding for the operation
-- @param op   : The operation used. Can be 'insert', 'update' or 'delete' for the time being.
CREATE PROCEDURE [dbo].[getTable] @key nvarchar(36), @json nvarchar(MAX), @op NVARCHAR(50)
AS
BEGIN
    -- Gather table name from the given key
    DECLARE @tableName NVARCHAR(256)
    SELECT @tableName = tblIndexName FROM tblIndex WHERE tblIndexKey=@key

    IF TRIM(@tableName) = '' OR @tableName = NULL BEGIN
        THROW 51000, '[getTable] Table name null for given key', 1;
    END

    -- Gather the json information
    DECLARE @jsonCount INT
    SET @jsonCount = (SELECT COUNT(*) FROM OPENJSON(@json)) 
    -- Write JSON vals and keys into a tempoary table
    CREATE TABLE #params(Id bigint primary key not null IDENTITY(1,1), _key NVARCHAR(256) null, _val NVARCHAR(256) null)
    INSERT INTO #params SELECT [key], [value] from OPENJSON(@json)

    -- the primary query to execute
    DECLARE @Query nvarchar(MAX)
    SET @Query = ''

    IF @op='insert' BEGIN
        -- Resulting vals and keys for the insert query
        DECLARE @keys NVARCHAR(MAX)
        SET @keys = ''
        DECLARE @vals NVARCHAR(MAX)
        SET @vals = ''

        WHILE @jsonCount > 0 BEGIN
            -- Seperate keys for the INSERT statement
            IF @keys <> '' BEGIN
                SET @keys += ', '
                SET @vals += ', '
            END

            -- Append to the keys and the vals
            SET @keys = @keys + (SELECT _key FROM #params WHERE Id = @jsonCount)
            SET @vals = @vals + '''' + (SELECT _val FROM #params WHERE Id = @jsonCount) + ''''
            SET @jsonCount = @jsonCount - 1    
        END

        SET @Query = 'INSERT INTO ' + @tableName + '(' + @keys + ') VALUES (' + @vals + ')'
    END
    ELSE IF @op='update' BEGIN
        -- list of the set and where statements
        DECLARE @sets NVARCHAR(MAX)
        SET @sets = ''
        DECLARE @where NVARCHAR(MAX)
        SET @where = ''

        -- This method also allows multiple WHERE marked JSON elements
        WHILE @jsonCount > 0 
        BEGIN
            DECLARE @jsonKey NVARCHAR(MAX)
            SET @jsonKey = (SELECT _key FROM #params WHERE Id = @jsonCount)
            DECLARE @jsonValue NVARCHAR(MAX)
            SET @jsonValue = (SELECT _val FROM #params WHERE Id = @jsonCount)
        
            -- Add to the WHERE
            IF CHARINDEX('WHERE', @jsonKey) > 0 BEGIN
                -- Append to the previous if a WHERE already existed
                IF TRIM(@where) <> '' BEGIN
                    SET @where += ' AND '
                END

                -- Remove the where clause from the given WHERE key
                SET @jsonKey = TRIM(REPLACE(@jsonKey, 'WHERE', ''))
                SET @where += @jsonKey + ' = ' + '''' + @jsonValue + '''' 
            END
            -- Add to the SET
            ELSE BEGIN
                -- We can recklessly add the ',' because in the end the last trailing ',' is removed.
                SET @sets += @jsonKey + ' = ' + '''' + @jsonValue + '''' + ', '
            END

            SET @jsonCount = @jsonCount - 1
        END
        
        -- Remove the last ',' for the '@sets'
        -- 'TRAILING' doesn't exist in 15.0, it exists in 16.x..
        -- and LTRIM/RTRIM char exist in 16.x
        DECLARE @lastIndexOfColon INT
        SET @lastIndexOfColon = LEN(@sets) - CHARINDEX(REVERSE(@sets), ',')
        SET @sets = LEFT(@sets, @lastIndexOfColon - 1)

        -- Create final query and run
        SET @Query = 'UPDATE ' + @tableName + ' SET ' + @sets + ' WHERE ' + @where
    END
    ELSE IF @op = 'delete' BEGIN
        -- If the select returns nothing this probably sets @Query to NULL
        SET @Query = 'DELETE FROM ' + @tableName + ' WHERE ' + 
            (SELECT _key FROM #params WHERE Id = 1) + ' = ' + 
            '''' + (SELECT _val FROM #params WHERE Id = 1) + ''''
    END
    ELSE IF @op = 'select' BEGIN
        
        SET @Query = 'SELECT * FROM ' + @tableName 
        -- If the select returns nothing this probably sets @Query to NULL
        IF @json != '{}'
            BEGIN
                PRINT @json
                SET @Query = @Query + ' WHERE ' + 
                (SELECT _key FROM #params WHERE Id = 1) + ' = ' + 
                '''' + (SELECT _val FROM #params WHERE Id = 1) + ''''
            END
    END

    -- Check and run the final query
    IF @Query = NULL OR TRIM(@Query) = '' 
    BEGIN
        THROW 51000, '[getTable(op=delete)] Query is empty!', 1;
    END

    EXEC (@Query)

    DROP TABLE #params
END
GO
/****** Object:  StoredProcedure [dbo].[sp_CloseTable]    Script Date: 2/13/2025 1:00:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_CloseTable]
    @paymentType BIT,
    @tableSessionId int

-- add more stored procedure parameters here
AS
BEGIN
    UPDATE TableSession set TableSessionPaymentType = @paymentType where TableSessionId=@tableSessionId
    UPDATE TableInfo set TableInfoStatusID=2, TableSession=null where TableSession=@tableSessionId
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Dashboard]    Script Date: 2/13/2025 1:00:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Dashboard] 
@room NVARCHAR(25)

AS
BEGIN

    SET language turkish

--WeeklyOccupancyRate
    SELECT COUNT(DATEPART(WEEKDAY, OrderDate)) as [Counter], DATENAME(WEEKDAY, OrderDate) as [Day] FROM [Orders]

    WHERE 
        OrderDate BETWEEN GETDATE()-7 
            AND 
        GETDATE()
            AND
        Room = @room
    GROUP by DATENAME(WEEKDAY,OrderDate)

--BusiestHours
    SELECT 
        CONVERT(varchar,(DATEPART(hour , OrderDate))) + ':00' AS 'Time',
        COUNT(*) AS OrderCount
    FROM 
        Orders
    WHERE 
        OrderDate BETWEEN DATEADD(DAY, -7, GETDATE()) AND GETDATE() 
            AND
        Room = @room
    GROUP BY 
        DATEPART(HOUR, OrderDate)

--ReservationRate
    SELECT COUNT(ReservationId) AS 'Count', CONVERT(nvarchar,ReservationDate) AS 'Date' from Reservations 
    WHERE 
        --Room = @room
        --AND
        ReservationDate BETWEEN GETDATE() AND GETDATE()+7
    GROUP BY ReservationDate;


--OnlineOrdersCount

    -- Haftanın günlerini içeren CTE
    --WITH DaysOfWeek AS (
    --    SELECT 1 AS DayNumber, 'Monday' AS DayName
    --    UNION ALL
    --    SELECT 2, 'Tuesday'
    --    UNION ALL
    --    SELECT 3, 'Wednesday'
    --    UNION ALL
    --    SELECT 4, 'Thursday'
    --    UNION ALL
    --    SELECT 5, 'Friday'
    --    UNION ALL
    --    SELECT 6, 'Saturday'
    --    UNION ALL
    --    SELECT 7, 'Sunday'
    --),
--
    ---- Mevcut sorgunuz
    --OrderCounts AS (
    --    SELECT 
    --        COUNT(DATEPART(WEEKDAY, OrderDate)) AS [Counter], 
    --        DATENAME(WEEKDAY, OrderDate) AS [Day]
    --    FROM 
    --        [Orders]
    --    WHERE 
    --        OrderDate BETWEEN GETDATE()-7 AND GETDATE()
    --        AND Room = '9999'
    --    GROUP BY 
    --        DATENAME(WEEKDAY, OrderDate)
    --)
--
    ---- Haftanın günleri ile sipariş sayılarını birleştirme
    --SELECT 
    --    DaysOfWeek.DayName AS [Day],
    --    ISNULL(OrderCounts.[Counter], 0) AS [Counter]
    --FROM 
    --    DaysOfWeek
    --LEFT JOIN 
    --    OrderCounts ON DaysOfWeek.DayName = OrderCounts.[Day]
    --ORDER BY 
    --    DaysOfWeek.DayNumber;

    SELECT Case 
        when COUNT(DATEPART(WEEKDAY, OrderDate)) is null then 1 
        else COUNT(DATEPART(WEEKDAY, OrderDate)) end as [Counter], 
        DATENAME(WEEKDAY, OrderDate) as [Day] 
        
        FROM [Orders]
    
        WHERE 
            Room = @room
                AND
            OrderOnline = 1 
                AND 
            OrderDate BETWEEN GETDATE()-7 
                AND 
            GETDATE()
    
        GROUP by DATENAME(WEEKDAY,OrderDate)
    


--WeeklyRevenueProfit

    SELECT 

        DATENAME(dw, O.OrderDate) AS DayOfWeek,
        SUM(P.ProductPrice) AS TotalRevenue,
        CASE when SUM(P.ProductPrice - P.ProductCost) is null then '0' else SUM(P.ProductPrice - P.ProductCost) end AS TotalProfit
    FROM 
        Orders O
    JOIN 
        Products P ON O.OrderProductID = P.ProductID

    WHERE 
        OrderDate BETWEEN GETDATE()-7 
            AND 
        GETDATE()
            AND
        o.Room = @room

    GROUP BY 
        DATENAME(dw, O.OrderDate)



--TableStatusSummary

    SELECT 
        'Açık' AS label,
        (SELECT COUNT(*) FROM TableInfo WHERE Room = @room AND TableInfo.TableInfoStatusID= 1) as [data],
        '#20a8d8' AS color
    UNION
    SELECT 
        'Kapalı' AS Status,
        (SELECT COUNT(*) FROM TableInfo WHERE Room = @room AND TableInfo.TableInfoStatusID= 2),
        '#f86c6b' AS color
    UNION
    SELECT 
        'Rezerve' AS Status,
        (SELECT COUNT(*) FROM TableInfo WHERE Room = @room AND TableInfo.TableInfoStatusID= 3),
        '#ffc107' AS color



--DailyRevenue

    SELECT 
        CASE when SUM(Products.ProductPrice) is null then '0' else SUM(Products.ProductPrice) end AS DailyRevenue
    FROM 
        Orders
        INNER JOIN Products
        ON
        Orders.OrderProductID = Products.ProductID
    WHERE 
        CONVERT(DATE, OrderDate) = CONVERT(DATE, GETDATE())
            AND
        Orders.Room = @room


--CompletedOrdersCount

    SELECT 
        COUNT(OrderStatusID) AS 'CompletedOrdersCount'
    FROM 
        Orders
    WHERE 
        OrderStatusID = 3 
            AND
        CONVERT(DATE, OrderDate) = CONVERT(DATE, GETDATE())
            AND
        Room = @room


--PendingOrdersCount

    SELECT 
        Case when COUNT(OrderStatusID) is null then 0 else COUNT(OrderStatusID) end AS [PendingOrdersCount]
    FROM 
        Orders
    WHERE 
        (OrderStatusID = 1 OR OrderStatusID = 2)
    AND
        CONVERT(DATE, OrderDate) = CONVERT(DATE, GETDATE())
    AND
        Room = @room


--DayOffCount
    SELECT COUNT(UsersPermissionsID) AS DayOffCount
    FROM [Cafe].[dbo].[UsersPermissions]

    WHERE  
        UsersPermissionsFrom < GETDATE() 
            AND 
        GETDATE() < UsersPermissionsTo 
        --    AND
        --Room = @room


--TopSellingProducts

    SELECT top(5)
        P.ProductName,
        COUNT(O.OrderProductID) AS Selling
    FROM 
        Orders O
    JOIN 
        Products P ON O.OrderProductID = P.ProductID
        
    WHERE 
        o.Room = @room
        AND
        OrderDate BETWEEN GETDATE()-7 and GETDATE()

    GROUP BY 
        P.ProductName
    ORDER BY 
        Selling DESC;



--LeastSellingProducts

    SELECT top(5)
        P.ProductName,
        COUNT(O.OrderProductID) AS Selling
    FROM 
        Orders O
    JOIN 
        Products P ON O.OrderProductID = P.ProductID

    WHERE 
        OrderDate BETWEEN GETDATE()-7 
            AND 
        GETDATE()
            AND
        o.Room = @room

    GROUP BY 
        P.ProductName
    ORDER BY 
        Selling ASC;

--TopOrderTakingPersonnel
    SELECT top(5)
        OrderUsersID AS PersonnelName,
        COUNT(OrderID) AS TotalOrders
    FROM 
        Orders 

    WHERE 
        OrderDate BETWEEN GETDATE()-7 and GETDATE()

    GROUP BY 
        OrderUsersID
    ORDER BY 
        TotalOrders DESC;
    END
GO
/****** Object:  StoredProcedure [dbo].[sp_Notifications]    Script Date: 2/13/2025 1:00:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_Notifications]
    @orderId int ,
    @notification NVARCHAR(250),
    @room NVARCHAR(50)
AS
BEGIN
    UPDATE Orders SET OrderStatusID = 2 WHERE OrderID=@orderId;
    INSERT INTO [dbo].[Notifications]
        (    [NotificationSubject]
            ,[NotificationDate]
            ,[NotificationDescription]
            ,[NotificationFrom]
            ,[NotificationTo]
            ,[Room]
        )
        VALUES
        (  
            'Order' ,GETDATE(),@notification,1,1,@room
        )
    SELECT id=SCOPE_IDENTITY()
END
GO
/****** Object:  StoredProcedure [dbo].[sp_OnlineCafe]    Script Date: 2/13/2025 1:00:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_OnlineCafe]
    @room NVARCHAR(50)
-- add more stored procedure parameters here
AS
BEGIN

    -- body of the stored procedure
    SELECT * FROM Categories WHERE Room = @room

    SELECT 
         [ProductID]
        ,[ProductName]
        ,[ProductPrice]
        ,[ProductDesc]
        ,[ProductCategoryID]
    FROM [Cafe].[dbo].[Products]
    WHERE ProductIsActive=1 and Room = @room

    SELECT 
        TableInfoID,
        TableInfoName,
        TableInfoStatusID,
        TableSessionId,
        TableStatusName,
        TableStatusColor,

        case when TableSessionPrice is null then 0
        else TableSessionPrice
        END AS TableSessionPrice

        FROM [dbo].[TableInfo] 
        LEFT join TableSession 
        on TableSession.TableSessionId = TableInfo.TableSession
        Left join TableStatus
        
        on TableInfo.TableInfoStatusID = TableStatus.TableStatusID

        WHERE TableInfo.Room = @room

    SELECT 
        OrderID,
        OrderDate,
        OrderTableSessionID,
        OrderTableID,
        OrderUsersID,
        OrderStatusID,
        ProductName,
        ProductPrice
    FROM Orders INNER JOIN Products on Orders.OrderProductID = Products.ProductID

    WHERE OrderTableSessionID in
    (SELECT TableSession from TableInfo WHERE TableSession is not null) AND Orders.Room = @room

    ORDER by OrderID DESC

    SELECT * FROM [Cafe].[dbo].[Notifications] WHERE NotificationDate = CONVERT(date,GETDATE()) and NotificationStatus IS NULL and Room = @room
                                          
END
GO
/****** Object:  StoredProcedure [dbo].[sp_OpenTable]    Script Date: 2/13/2025 1:00:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_OpenTable]
    @tableId int,
    @status int,
    @room NVARCHAR(25),
    @user NVARCHAR(25)

-- add more stored procedure parameters here
AS
BEGIN
    DECLARE @scope int
    INSERT INTO TableSession
        ([TableSession]
        ,[TableSessionDate]
        ,[TableSessionPrice]
        ,[TableSessionTableInfoId]
        ,[TableSessionUser]) 

        VALUES 
        (NEWID(),GETDATE(), 0.00, @tableId , @user)

    set @scope = (SELECT SCOPE_IDENTITY() AS [SCOPE_IDENTITY])
    update TableInfo set TableInfoStatusID=@status, TableSession=@scope where TableInfoID=@tableId

    select @scope as 'TableSessionId'
END
GO
/****** Object:  StoredProcedure [dbo].[sp_RemoveOrder]    Script Date: 2/13/2025 1:00:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_RemoveOrder]
@orderId int,
@tableId int,
@tableSessionId DECIMAL
AS
BEGIN

DELETE FROM 
  Orders 
where 
  OrderID = @orderId 
UPDATE 
  TableSession 
SET 
  TableSessionPrice = (
    select 
      sum(ProductPrice) 
    from 
      Orders 
      inner join Products on Orders.OrderProductID = Products.ProductID 
    WHERE 
      OrderTableSessionID = @tableSessionId 
    GROUP by 
      OrderTableSessionID
  ) 
WHERE 
  TableSessionTableInfoId = @tableId

END
GO
/****** Object:  StoredProcedure [dbo].[sp_SaveOrder]    Script Date: 2/13/2025 1:00:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_SaveOrder]
    @tableId int,
    @productId int,
    @room NVARCHAR(300),
    @user NVARCHAR(25)
    

-- add more stored procedure parameters here
AS
BEGIN
    DECLARE @scope int
    DECLARE @tableSession int SET @tableSession = (select TableSession from TableInfo where TableInfoID=@tableId)
    INSERT INTO Orders
        (OrderDate,
         OrderTableSessionID,
         OrderTableID,
         OrderUsersID,
         OrderStatusID,
         OrderProductID,
         Room) 
        
        VALUES 
        (GETDATE(), @tableSession, @tableId, @user,1, @productId, @room)
    
    set @scope = (SELECT SCOPE_IDENTITY() AS [SCOPE_IDENTITY])

    update TableSession set 
        TableSessionPrice = TableSessionPrice + (
            select ProductPrice 
            from Products 
            where ProductID=@productId) 
        where TableSessionId = @tableSession
    select @scope as 'Scope'
END
GO
USE [master]
GO
