.calendar,
.calendar_weekdays,
.calendar_content {
  color: #fff;
  max-width: 450px;
}

.calendar {
  margin: auto;
  font-weight: 400;
}

.calendar_header {
  padding: 10px 0;
}

.calendar_content,
.calendar_weekdays,
.calendar_header {
  position: relative;
  overflow: hidden;
}

.calendar_weekdays div {
  display: inline-block;
  vertical-align: top;
  color: #fff !important;
}

.calendar_weekdays div,
.calendar_content div {
  width: 14.28571%;
  overflow: hidden;
  text-align: center;
  background-color: transparent;
  font-size: 16px;
  padding: 15px 0;
}

.calendar_content div {
  border: 1px solid transparent;
  float: left;
  position: relative;
  z-index: 0;
}

.calendar_content div:hover {
  border: 1px solid #dcdcdc;
  cursor: default;
}

.calendar_content div.blank:hover {
  cursor: default;
  border: 1px solid transparent;
}

.calendar_content div.past-date {
  color: #d5d5d5;
}

div.today {
  font-weight: bold;
  font-size: 16px;
  color: #fff !important;
  border: 1px solid #fff;
}


.calendar_content div.selected {
  background-color: #f0f0f0;
  color: black !important;
}

.calendar_header {
  width: 100%;
  text-align: center;
}

.calendar_header h2 {
  padding: 0 10px;
  font-weight: 500;
  font-size: 20px;
  color: #fff;
  float: left;
  width: 70%;
  margin: 0 0 10px;
}

button.switch-month {
  background-color: transparent;
  padding: 0;
  outline: none;
  border: none;
  color: #dcdcdc;
  float: left;
  width: 15%;
  -webkit-transition: color .2s;
  -o-transition: color .2s;
  transition: color .2s;
}
