.percentile-67 {
    background: #54bab3
}

.percentile-68 {
    background: #55bbb1
}

.percentile-69 {
    background: #57bbb0
}

.percentile-70 {
    background: #59bcae
}

.percentile-71 {
    background: #5abcac
}

.percentile-72 {
    background: #5cbcaa
}

.percentile-73 {
    background: #5ebda9
}

.percentile-74 {
    background: #5fbda7
}

.percentile-75 {
    background: #61bda5
}

.percentile-76 {
    background: #62bea3
}

.percentile-77 {
    background: #64bea2
}

.percentile-78 {
    background: #66bfa0
}

.percentile-79 {
    background: #67bf9e
}

.percentile-80 {
    background: #69bf9c
}

.percentile-81 {
    background: #6bc09b
}

.percentile-82 {
    background: #6cc099
}

.percentile-83 {
    background: #6ec197
}

.percentile-84 {
    background: #70c195
}

.percentile-85 {
    background: #71c193
}

.percentile-86 {
    background: #73c292
}

.percentile-87 {
    background: #75c290
}

.percentile-88 {
    background: #76c28e
}

.percentile-89 {
    background: #78c38c
}

.percentile-90 {
    background: #7ac38b
}

.percentile-91 {
    background: #7bc489
}

.percentile-92 {
    background: #7dc487
}

.percentile-93 {
    background: #7ec485
}

.percentile-94 {
    background: #80c584
}

.percentile-95 {
    background: #82c582
}

.percentile-96 {
    background: #83c580
}

.percentile-97 {
    background: #85c67e
}

.percentile-98 {
    background: #87c67d
}

.percentile-99 {
    background: #88c77b
}

.percentile-100 {
    background: #8ac779
}

.percentile-101 {
    background: #7fa6a6
}

.percentile-102 {
    background: #6c3d7d
}

.percentile-103 {
    background: #c0dae9
}

.percentile-104 {
    background: #c8c9ed
}

.percentile-105 {
    background: #fac0d9
}


.percentile-34 {
    background: #927fb9
}

.percentile-35 {
    background: #9081b9
}

.percentile-36 {
    background: #8e82b9
}

.percentile-37 {
    background: #8c84b9
}

.percentile-38 {
    background: #8a86b8
}

.percentile-39 {
    background: #8888b8
}

.percentile-40 {
    background: #868ab8
}

.percentile-41 {
    background: #848bb8
}

.percentile-42 {
    background: #838db8
}

.percentile-43 {
    background: #818fb8
}

.percentile-44 {
    background: #7f91b8
}

.percentile-45 {
    background: #7d93b8
}

.percentile-46 {
    background: #7b94b7
}

.percentile-47 {
    background: #7996b7
}

.percentile-48 {
    background: #7798b7
}

.percentile-49 {
    background: #759ab7
}

.percentile-50 {
    background: #739cb7
}

.percentile-51 {
    background: #719db7
}

.percentile-52 {
    background: #6f9fb7
}

.percentile-53 {
    background: #6da1b7
}

.percentile-54 {
    background: #6ba3b7
}

.percentile-55 {
    background: #69a4b6
}

.percentile-56 {
    background: #67a6b6
}

.percentile-57 {
    background: #65a8b6
}

.percentile-58 {
    background: #63aab6
}

.percentile-59 {
    background: #62acb6
}

.percentile-60 {
    background: #60adb6
}

.percentile-61 {
    background: #5eafb6
}

.percentile-62 {
    background: #5cb1b6
}

.percentile-63 {
    background: #5ab3b5
}

.percentile-64 {
    background: #58b5b5
}

.percentile-65 {
    background: #56b6b5
}

.percentile-66 {
    background: #54b8b5
}

.percentile-67 {
    background: #52bab5
}

.percentile-1 {
    background: #e34c4d
}

.percentile-2 {
    background: #e04d51
}

.percentile-3 {
    background: #de4f54
}

.percentile-4 {
    background: #db5057
}

.percentile-5 {
    background: #d9525a
}

.percentile-6 {
    background: #d7535e
}

.percentile-7 {
    background: #d45561
}

.percentile-8 {
    background: #d25664
}

.percentile-9 {
    background: #d05867
}

.percentile-10 {
    background: #cd596b
}

.percentile-11 {
    background: #cb5b6e
}

.percentile-12 {
    background: #c85c71
}

.percentile-13 {
    background: #c65e74
}

.percentile-14 {
    background: #c45f78
}

.percentile-15 {
    background: #c1617b
}

.percentile-16 {
    background: #bf627e
}

.percentile-17 {
    background: #bd6482
}

.percentile-18 {
    background: #ba6585
}

.percentile-19 {
    background: #b86788
}

.percentile-20 {
    background: #b5688b
}

.percentile-21 {
    background: #b36a8f
}

.percentile-22 {
    background: #b16b92
}

.percentile-23 {
    background: #ae6d95
}

.percentile-24 {
    background: #ac6e98
}

.percentile-25 {
    background: #a9709c
}

.percentile-26 {
    background: #a7719f
}

.percentile-27 {
    background: #a573a2
}

.percentile-28 {
    background: #a274a5
}

.percentile-29 {
    background: #a076a9
}

.percentile-30 {
    background: #9e77ac
}

.percentile-31 {
    background: #9b79af
}

.percentile-32 {
    background: #997ab2
}

.percentile-33 {
    background: #967cb6
}

.percentile-34 {
    background: #947db9
}

.blue {
    background: #20a8d8;
}

.yellow {
    background: #f3a600;
}

.red {
    background: #f86c6b;
}