/* Style the checkmark/indicator */
.chcont .checkmark:after {
  left: 10px;
  top: 6px;
  width: 9px;
  height: 14px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

.inpt {
    color: #949494;
    padding-left: 1em;
    border-right: none;
    border-top: none;
    border-left: none;
    border-bottom: 1px solid #928686;
    height: 2.5em;
}

label {
    margin-top: 0.5em;
}

.inpt:focus {
    outline: none;
}

.mdl-head {
    padding: 1rem 1em 0 1em;
    border-top: 15px solid #e9ecef;
}

.close>button {
    border: none;
    background: red;
    color: white;
    padding-bottom: 4px;
    width: 30px;
    border-radius: 35px;
}

.modal-title {
    color: #107fa5;
}

.modal-footer {
    padding-bottom: 35px !important;
    border-bottom: 15px solid #96aec5 !important;
    border-top: unset;
}

/* Underline */

.bar {
    position: relative;
    display: block;
    width: 100%;
}

.bar:before,
.bar:after {
    content: '';
    height: 2px;
    width: 0;
    bottom: 1px;
    position: absolute;
    background: #4a89dc;
    transition: all 0.2s ease;
}

/* active */

input:focus~.bar:before,
input:focus~.bar:after {
    width: 100%;
}

.modal-content {
    border: unset !important;
    border-radius: unset !important;
}

table{
    font-size: 13px;
}

.language-select{
    padding-bottom: 5px;
}

.dropdown-menu{

position: absolute !important;
margin-left: .5em !important;
margin-top: -15px !important;
border: 1px solid #187191 !important;
border-radius: 5px !important;
}

.dropdown-menu > ul{
list-style: unset;
}
.dropdown-menu > ul >li {
padding-top: 10px;
padding-left: 5px;
padding-right: 5px;
cursor: pointer;
}
.dataTables_length{
    width: fit-content;
}
.dataTables_filter{
    text-align: left !important;
}
.dtr-details{
    width: 100%;
}

.dtr-details >li{
    justify-content: space-between;
    display: flex;
    width: 100%;
}
.btn-outline-secondary {
    font-size: 13px;
}
.pagination{
    justify-content: center !important;
}

.chcont{
    position: relative;
}
/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 29px;
  width: 29px;
}

/* When the checkbox is checked, add a blue background */
.chcont input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
}
/* Show the checkmark when checked */
.chcont input:checked ~ .checkmark:after {
  display: block;
}
.userClass{
    color: #878787;
    margin-top: 7px;
}

